.contenedor{
    padding: 50px;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0426/9209/articles/nuevas-opciones-de-tema-para-personalizar-google-forms_960x502_crop_center.jpg?v=1610586097960w);
    background-size: cover;
    background-position: center;
}
.title{
    color: rgb(67, 67, 67);
}
.formulario{
    width: 400px;
    margin: auto auto;
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.896);
    border-radius: 7px;
    border: 3px solid rgba(204, 204, 204, 0.379);
    box-shadow: 10px 10px 20px rgba(136, 136, 136, 0.847);
}
.form{
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 10px;
        &--aclaration{
            font-size: 10px;
            color: red;
            margin-top: 5px;
        }
    }
    &__label{
        color: rgb(4, 26, 46);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__input{
        font-size: 17px;
        padding: 5px;
        background-color: #ccc;
        border: none;
        &:focus{
            outline-color: rgb(31, 92, 146);
        }
    }
    &__btn{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        background-color: rgba(30, 77, 152, 0.749);
        border-radius: 25px;
        border-right: 2px solid rgba(0, 0, 0, 0.515) ;
        border-left: 2px solid rgba(0, 0, 0, 0.515) ;
        border-top: none ;
        border-bottom: none ;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: all .3s;
        
        &:hover{
            transform: scale(1.05);
        }
    }
}
.data-enviada{
    position: absolute;
    right: 10%;
    top: 30%;
    background-color: rgba(96, 169, 36, 0.814);
    padding: 30px;
    border-radius: 15px;
}
.completar-campos{
    text-decoration: underline;
}
.form__input:focus ~ .form__label{
    color: rgb(31, 92, 146);
    transform: scale(1.05);
}