<div class="contenedor">
  <h1 class="title">Fede's Templeate Form</h1>
  <div class="formulario">
    <form (ngSubmit)="onSubmit()" #loginFormBig="ngForm">
      <div class="form__item">
        <label class="form__label">Email address</label>
        <input type="email" email class="form__input" [(ngModel)]="login.email" name="email" #email="ngModel" required>
        <div [hidden]="email.valid || email.pristine" class="form__item--aclaration">
          Ingresá un mail valido
        </div>
      </div>
      <div class="form__item">
        <label class="form__label">Adress</label>
        <input type="text" class="form__input" [(ngModel)]="login.adress" name="adress"
          #adress="ngModel" required>
        <div [hidden]="!adress.dirty" class="form__item--aclaration">
          Debes indicar tu domicilio
        </div>
      </div>
      <div class="form__item">
        <label class="form__label">Postal Code</label>
        <input type="text" minlength="4" class="form__input" [(ngModel)]="login.postalCode" name="postalcode"
          #postalCode="ngModel" required>
        <div [hidden]="postalCode.pristine" class="form__item--aclaration">
          Indica tu codigo postal
        </div>
      </div>
      <div class="form__item">
        <label class="form__label">Celphone Number</label>
        <input type="text" minlength="6" class="form__input" [(ngModel)]="login.celPhoneNumber" name="celPhoneNumber"
          #celPhoneNumber="ngModel" required>
        <div [hidden]="celPhoneNumber.pristine" class="form__item--aclaration">
          Indica tu numero de celular
        </div>
      </div>
      <div class="form__item">
        <label class="form__label">Password</label>
        <input type="password" minlength="5" class="form__input" [(ngModel)]="login.password" name="password"
          #password="ngModel" required>
        <div [hidden]="password.valid || password.pristine" class="form__item--aclaration">
          La contraseña debe tener más de 5 caracteres
        </div>
      </div>
      <div class="form__item">
        <label class="form__label">Repeat Password</label>
        <input type="password" minlength="5" class="form__input" [(ngModel)]="login.repassword" name="repassword"
          #repassword="ngModel" required>
        <div [hidden]="repassword.value === password.value" class="form__item--aclaration">
          La contraseña y repetir contraseña deben ser iguales
        </div>
      </div>
      <button type="submit" [disabled]="loginFormBig.invalid && (repassword.value != password.value)" class="form__btn">Submit</button>
      <div [hidden]="loginFormBig.dirty">
        <p>Completá los campos y envia el formulario para ver los datos enviados</p>
      </div>
      <!-- <ng-template #noData class="data-no-enviada">
        <p class="">Envia el formulario para ver los datos enviados</p>
      </ng-template> -->
    </form>
  </div>


    <ng-container *ngIf="data" >
      <div class="data-enviada">
        <h2>Datos enviados</h2>
        <p>El email es: {{login.email}}</p>
        <p>La direccion es: {{login.adress}}</p>
        <p>El codigo postal es: {{login.postalCode}}</p>
        <p>El numero de celular es: {{login.celPhoneNumber}}</p>
        <p>La contraseña es: {{login.password}}</p>
      </div>
    </ng-container>
  

</div>